<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card shadow-lg p-2" style="width: 18rem;">
        <img src="../../assets/bruins.svg" width="80" height="80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Boston Bruins</h5>
          <a href="#" class="btn btn-primary">View Roster</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card shadow-lg p-2" style="width: 18rem;">
        <img src="../../assets/redwings.svg" width="80" height="80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Detroit Red Wings</h5>
          <a href="#" class="btn btn-primary">View Roster</a>
        </div>
      </div>
    </div>
  </div>
</div>
