<div class="container">

  <div class="row">

    <div class="card-deck">

      <div class="col-sm" *ngFor="let team of teamList; let i = index;">

        <div class="card text-center shadow-lg p-2 mb-5" style="width: 18rem;">
          <img src="../../assets/{{team.picture}}" style="width: 70%; height: 70%;" class="card-img-top rounded mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{i+1}} {{team.city}} {{team.name}}</h5>
            <button class="btn btn-primary" routerLink="/roster/{{team.id}}">View Roster</button>
          </div>
        </div>

      </div>

    </div>

  </div>

  <span>{{missingCardsForRow}}</span>

</div>
